<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :border %><br />
    <%= f.number_field :border %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :size_p %><br />
    <%= f.number_field :size_p %>
  </div>
  <div class="field">
    <%= f.label :white_p %><br />
    <%= f.number_field :white_p %>
  </div>
  <div class="field">
    <%= f.label :black_p %><br />
    <%= f.number_field :black_p %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
