<p id="notice"><%= notice %></p>

<p>
  <b>Border:</b>
  <%= @setting.border %>
</p>

<p>
  <b>Size:</b>
  <%= @setting.size %>
</p>

<p>
  <b>Size p:</b>
  <%= @setting.size_p %>
</p>

<p>
  <b>White p:</b>
  <%= @setting.white_p %>
</p>

<p>
  <b>Black p:</b>
  <%= @setting.black_p %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
